# Configuration file

general {
    # Base HP-XP lost on death (base + scale*level).
    I:deathXpPenaltyBase=0

    # Scaling HP-XP lost on death (base + scale*level).
    I:deathXpPenaltyScale=10

    # Whether the player should heal when HP is leveled up
    B:healOnLevelUp=true

    # Starting HP offset in half-hearts.
    I:hpOffset=0

    # HP gain per level in half-hearts
    I:hpPerLevel=2

    # XP gained from killing livestock
    I:livestockGain=1

    # Maximum HP level.
    I:maximumLevel=1000

    # XP gained from killing monsters
    I:monsterGain=2

    # Base HP-XP needed to advance to next HP level (base + scale*level).
    I:neededXpBase=0

    # Scaling HP-XP needed to advance to next HP level (base + scale*level).
    I:neededXpScale=100

    # Whether the player's HP level and XP should reset on death
    B:resetOnDeath=false
}


