# Configuration file

general {
    S:modPack=Vanilla
    S:modPackVersion=1.0
    B:spammyLogs=false

    optout {
        B:OS=false
        B:clientTime=false
        B:environment=false
        B:installID=false
        B:javaVersion=false
        B:minecraftVersion=false
        B:modPack=false
        B:modPackVersion=false
        B:ramAllocated=false
        B:ramMax=false
        B:sessionID=false

        mods {
            B:FML=false
            B:abyssalcraft=false
            B:additionalbanners=false
            B:advancedcombat=false
            B:animania=false
            B:antiqueatlas=false
            B:antiqueatlasoverlay=false
            B:applecore=false
            B:appleskin=false
            B:astralsorcery=false
            B:autoreglib=false
            B:battletowers=false
            B:baubles=false
            B:betteradvancements=false
            B:betterfoliage=false
            B:bibliocraft=false
            B:biomesoplenty=false
            B:birdsnests=false
            B:bloodmoon=false
            B:blur=false
            B:bonetorch=false
            B:bonsaitrees=false
            B:bookshelf=false
            B:botania=false
            B:bullseye=false
            B:ceramics=false
            B:cfm=false
            B:chameleon=false
            B:chisel=false
            B:chiselsandbits=false
            B:chopdown=false
            B:clayspawn=false
            B:colossalchests=false
            B:com.elytradev.movingworld.common.asm.coremod=false
            B:craftstudioapi=false
            B:creeperconfetti=false
            B:ctm=false
            B:customspawner=false
            B:cyclopscore=false
            B:darkutils=false
            B:davincisvessels=false
            B:dmonsters=false
            B:doggytalents=false
            B:dynamiclights=false
            B:dynamiclights_creepers=false
            B:dynamiclights_dropitems=false
            B:dynamiclights_entityclasses=false
            B:dynamiclights_flamearrows=false
            B:dynamiclights_floodlights=false
            B:dynamiclights_mobequipment=false
            B:dynamiclights_onfire=false
            B:dynamiclights_otherplayers=false
            B:dynamiclights_theplayer=false
            B:dynamicswordskills=false
            B:dynamictrees=false
            B:earthworks=false
            B:elevatorid=false
            B:embers=false
            B:evilcraft=false
            B:evilcraftcompat=false
            B:fastleafdecay=false
            B:fenceoverhaul=false
            B:forge=false
            B:forgelin=false
            B:gardenstuff=false
            B:geographicraft=false
            B:gravestone=false
            B:gravestone-extended=false
            B:guideapi=false
            B:guilib=false
            B:hardcoredarkness=false
            B:harvestcraft=false
            B:healthhungertweaks=false
            B:horsepower=false
            B:hungeroverhaul=false
            B:improvedhoes=false
            B:infernalmobs=false
            B:ironbackpacks=false
            B:ivtoolkit=false
            B:jei=false
            B:levelup2=false
            B:leveluphp=false
            B:lteleporters=false
            B:malisisblocks=false
            B:malisiscore=false
            B:malisisdoors=false
            B:malisisswitches=false
            B:mca=false
            B:mcp=false
            B:mechsoldiers=false
            B:mercurius_updater=false
            B:minecolonies=false
            B:minecraft=false
            B:mmm=false
            B:mocreatures=false
            B:morepaintings=false
            B:movillages=false
            B:movingworld=false
            B:musiccraft=false
            B:mysttmtgravitymod=false
            B:nex=false
            B:overlord=false
            B:paintingselgui=false
            B:pandorasbox=false
            B:petbat=false
            B:primal=false
            B:quickhotbar=false
            B:radixcore=false
            B:realrender=false
            B:reborncore=false
            B:reforged=false
            B:restrictedportals=false
            B:roots=false
            B:roughmobs=false
            B:roughtweaks=false
            B:rustic=false
            B:scalinghealth=false
            B:securitycraft=false
            B:shadowmc=false
            B:silentlib=false
            B:simulatednights=false
            B:skillable=false
            B:slurp=false
            B:solcarrot=false
            B:soulshardstow=false
            B:spectrite=false
            B:spiceoflife=false
            B:stevescarts=false
            B:storageboats=false
            B:survivalist=false
            B:swordskillsapi=false
            B:thirstybottles=false
            B:toroquest=false
            B:toughasnails=false
            B:tumbleweed=false
            B:twilightforest=false
            B:waila=false
            B:wawla=false
            B:wearablebackpacks=false
            B:weeeflowers=false
            B:winterwonderland=false
            B:witherskelefix=false
            B:xaerominimap=false
        }

    }

}


